.footer-flex {
	/*position: relative;*/
	/*bottom: 0;*/
	height:14%;
	width: 100%;
	background-color: rgb(39,40,45);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

    p {
        font-size: small;
    }

    div {
        margin-top: 0%;
        color:#fff;
    }
}

.footer__links {
	flex-grow: 1;

    h2 {
        margin: 0%;
        padding-left: 10%;
    }
}

.footer__rss {
	flex-grow: 2;
}

.footer__rights {
	flex-grow: 2;
}

.footer__logo img {
	padding: 0px;
	height: 100%;
}

#nav_menu {
	margin: 0%;

    li {
        display:block;
        width:10%;
        padding:1px 10px;
        background-color: transparent;
        text-align: left;
        color:#fff;
	    font-size: small;

        a {
            color: white;
	        margin: 50%;

            &:hover {
                color: white;
	            border-radius: 50%;
            }
        }
    }
}
