@media screen and (max-width: 768px) {
	.contenedor-flex img {
		width: 30%;
	}

	.container {
		grid-template-columns: 2fr 2fr 2fr;
		grid-template-rows: 2fr 2fr 2fr;
		padding-left: 2px;
		margin: 0%;

		img {
			width: 30%;
		}
	}

}

@media screen and (max-width: 480px) {
	.contenedor-flex img {
		width: 50%;
	}

	.container {
		grid-template-columns: 2fr ;
		grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
		padding-left: 2px;
		margin: 0%;

		img {
			width: 50%;
		}
	}
}
